.table-striped{
    width: 100%;
    background: rgb(24, 82, 209);
}
.table-striped,thead,tr,th,td{
    border-collapse: collapse;
    border: solid rgb(20, 21, 24) 1px;
    border-collapse: collapse;
   
}
body{
    background-color:rgba(152, 153, 224, 0.671);
    background-repeat: no-repeat ;
    background-size: 100%;
}
th{ 
    font-size: 20px;
    text-align: center;      
}

td{ 
    font-size: 13px;
    text-align: center;
       
}
#table tr th td{
    width: 100%;
    border-collapse: collapse;
    border: solid rgb(20, 21, 24) 1px;
    border-collapse: collapse;
}
